<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GetLocals</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="img/mainicon.png">
</head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        <!-- Static navbar -->
      <nav class="navbar navbar-default navbar-fixed-top" id="header_nav">
        <div id="header_background"></div>
        <div class="container-fluid container navbar-custom">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="position:relative">
              <div id="logowhite" style="position:absolute;left:0px;opacity:1"/>
              <img src="images/logowhite.png"  width="200" >
              </div>
              <div id="logoblue"  style="position:absolute;left:0px;opacity:0">
              <img src="images/logoblue.png" width="200" />
            </div>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#overview" class="sliding-u-l-r"><p>Overview</p></a></li>
              <li ><a href="#" class="sliding-u-l-r"><p>About Us</p></a></li>
              <li ><a href="#feature" class="sliding-u-l-r"><p>Feature</p></a></li>
              <li style="background-color:white;border-radius:20px;" id="li-text-download"><a href="#download" class="hvr-underline-from-left">
                <p style="color:gray" id="text-download">Download</p></a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <section id="slider" >
        <div class="slick">
          <div id="slider--2" class="slider-data">
            <div class="container">
              <div class="row">
                <div class="col-lg-7">
                  <div class="row text">
                    <div class="col-lg-12">
                      <h1>
                        Forecast
                      </h1>
                      <h3>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's
                      </h3>
                      <br/>
                      <h6>- it's like magic</h6>

                    </div>
                  </div>
                </div>
                <div class="col-lg-5 image">
                  <img src="images/hand_getlocals.png" width="450"/>
                </div>

              </div>
            </div>
          </div>
          <div id="slider--1" class="slider-data">
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <img src="images/hand_getlocals.png" width="450"/>
                </div>
                <div class="col-lg-7">
                  <div class="row right-text">
                    <div class="col-lg-12">
                      <h3>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's
                      </h3>
                      <br/>
                      <h6>- it's like magic</h6>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <section id="overview">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-10">
                  <div class="page-header">
                    <h1>
                      Easy, Fast, Accurate!
                      <br/>
                      <small>
                        Weathy reminds you how to dress!
                      </small>
                    </h1>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris n
                     isi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                     in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                     occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <img class="img-responsive" style=";margin-top:15%" align src="images/section2.png" />
            </div>
          </div>
        </div>
      </section>
      <section id="feature">
          <div class="container">

            <div class="row">
              <div class="page-header text-center">
                <h1>
                  Forecasting made fun!
                </h1>
                <h3>
                  Not just another boring weather app in your device!
                </h3>
              </div>
            </div>
            <div class="col-lg-4 thumbnails" >
              <img src="images/section3-accurate.png" style=""  alt="...">
              <div class="caption">
                <h3>Accurate</h3>
                <p>Sed non mauris vitae erat consequat auctor eu in. Class aptent tasocios ad litora torquent peer.</p>
              </div>

            </div>
            <div class="col-lg-4 thumbnails">
              <img src="images/section3-timemachine.png" alt="...">
              <div class="caption">
                <h3>Time Machine</h3>
                <p>Sed non mauris vitae erat consequat auctor eu in. Class aptent tasocios ad litora torquent peer.</p>
              </div>

            </div>
            <div class="col-lg-4 thumbnails">
              <img src="images/section3-personalized.png"  alt="...">
              <div class="caption">
                <h3>City Personalized</h3>
                <p>Sed non mauris vitae erat consequat auctor eu in. Class aptent tasocios ad litora torquent peer.</p>
              </div>

            </div>
            <div class="col-lg-4 thumbnails" >
              <img src="images/section3-gallery.png" style=""  alt="...">
              <div class="caption">
                <h3>World Gallery</h3>
                <p>Sed non mauris vitae erat consequat auctor eu in. Class aptent tasocios ad litora torquent peer.</p>
              </div>

            </div>
            <div class="col-lg-4 thumbnails">
              <img src="images/section3-worldmap.png" alt="...">
              <div class="caption">
                <h3>Weather</h3>
                <p>Sed non mauris vitae erat consequat auctor eu in. Class aptent tasocios ad litora torquent peer.</p>
              </div>

            </div>
            <div class="col-lg-4 thumbnails">
              <img src="images/section3-settings.png"  alt="...">
              <div class="caption">
                <h3>Setting</h3>
                <p>Sed non mauris vitae erat consequat auctor eu in. Class aptent tasocios ad litora torquent peer.</p>
              </div>
          </div>
        </div>
      </section>
      <section id="download">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
              <img src="images/download-image.png" width="400"/>
            </div>
            <div class="col-lg-6 text-description">
              <div class="row ">
                <div class="col-lg-12">
                  <h3>Enough Looking,<br/> give your money! on:<h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5" >
                  <img src="images/app-store.png" width="200" style="background-color:black;border-radius:5px;"/>
                </div>
                  <div class="col-lg-5">
                    <div style="background-color:black;border-radius:10px;width:160px;height:55px;">
                      <img src="images/play-store.png" width="165"  style="margin-left:-1px;" />
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container-fluid" style="padding:0px 10%;line-height:7">
          <div class="row">
            <div class="col-lg-6">
              <p>© Copyright 2016. Weathy App - All Rights Reserved</p>
            </div>
            <div class="col-lg-6">

            </div>
          </div>
        </div>
      </footer>
      <script src="js/jquery-3.1.0.min.js"></script>
      <script src="js/jquery.color-2.1.0.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/main.js"></script>
    </body>
</html>
